<h1>Rails says: "goodby, Baby"</h1>
<p>
  Find me in app/views/say/goodby.html.erb
</p>
<ul>
  <% @files.each do |file| %>
    <li>file name is: <%= file %></li>
  <% end %>
</ul>
<br>
<a href="/say/hello">say hello</a>